@using Website.Client.Models
@using Website.Client.Styles

<div class="@($"{Class} flex {(IsColumn ? "flex-col" : "items-center flex-row")}")">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@Id" class="@($"{Scaling.GetTextScaling()} whitespace-nowrap text-center select-none {(IsColumn ? "mb-0.5" : "mr-2")}")">@($"{Label}{(IsColumn ? "" : ":")}")</label>
    }
    <InputSelect id="@Id" class="@($"{Scaling.GetTextScaling()} w-full ring-black ring-1 rounded-md hover:ring-skyHover text-center select-none")" 
                @bind-Value="Value" @oninput="OnValueChanged">
        @foreach (SelectInput route in SelectInputs ?? [])
        {
            <option @key="route" class="rounded-md bg-gray-700 hover:bg-skyHover text-white" value="@route.Id">@route.Value</option>
        }
    </InputSelect>
</div>