@using Website.Client.Models
@using Website.Client.Styles

<div class="@($"{Class} flex flex-row")">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="@($"{Scaling.GetTextScaling()} text-center select-none mr-2")">@($"{Label} :")</label>
    }
    <InputSelect class="@($"{Scaling.GetTextScaling()} ring-black ring-1 rounded-md hover:ring-skyHover text-center select-none")" 
                @bind-Value="Value" @oninput="OnValueChanged">
        @foreach (SelectInput route in SelectInputs ?? [])
        {
            <option @key="route" class="rounded-md bg-gray-700 hover:bg-skyHover text-white" value="@route.Id">@route.Value</option>
        }
    </InputSelect>
</div>