@page "/customerSequence"
@using Microsoft.AspNetCore.Components.Forms
@using Website.Client.Components
@using Website.Client.Components.Default
@using Website.Client.FormModels
@using Website.Client.Models
@using Website.Client.Styles

<LoadingPopup IsVisible="@IsSubmitting" />
<EditForm Model="CustomerSequenceModel" OnValidSubmit="@Submit" class="w-full flex flex-col">
    <ObjectGraphDataAnnotationsValidator />

    <div class="flex flex-col justify-between self-center w-4/6 p-4 bg-gray-100 rounded-md">
        <div class="flex flex-row justify-center gap-2 mb-2">
            @for (int i = 0; i < CustomerSequenceModel.SelectedRouteDetailsId.Count(); i++)
            {
                int j = i;
                <FormDefaultSelect T="string" Class="w-1/2 justify-center" SelectInputs="@([.. CustomerSequenceModel.RouteOverview.Where(r => r.Id != CustomerSequenceModel.SelectedRouteDetailsId[CustomerSequenceModel.SelectedRouteDetailsId.Count() - 1 - j])])"
                                   @bind-Value="CustomerSequenceModel.SelectedRouteDetailsId[j]"/>
            }
        </div>
        <div>
            <FormDragDropMultipleList Class="flex flex-row justify-center" MaxHeight="max-h-96" MinHeight="min-h-64" DisplayFilter="true" StartFilter="@([.. Enumerable.Repeat(string.Empty, 2).ToList()])"
                                      SelectedRouteId="CustomerSequenceModel.SelectedRouteDetailsId" @bind-SequenceDetails="CustomerSequenceModel.SequenceDetails" />
        </div>
    </div>
    <div class="flex flex-row self-center mt-5">
        <button type="button" class="@($"{ButtonStyles.GetButtonNavigationDefaultStyle()} bg-lightRed w-20 mx-2")" @onclick="() => Cancel()">Cancel</button>
        <button type="submit" class="@($"{ButtonStyles.GetButtonNavigationDefaultStyle()} bg-lightGreen w-20 mx-2")">Save</button>
    </div>
</EditForm>