@page "/fillBoxes"
@using Website.Client.Components
@using Website.Client.Models
@using Website.Client.Styles

<div class="max-w-full">
    <div class="flex flex-row max-w-full justify-between mb-2 border-black border-b-2">
        <Tab @bind-Value="FillBoxesOverviewModel.DisplayTypeIndex" Items="@TypeList" SelectionChanged="@(() => FillBoxesOverviewModel.OnDayMonthYearSelected())" />
        <FormDayPicker Label="Date picker" OnDayMonthYearSelected="@(() => FillBoxesOverviewModel.OnDayMonthYearSelected())" @bind-Year="@FillBoxesOverviewModel.Year" @bind-Month="@FillBoxesOverviewModel.Month" @bind-Day="@FillBoxesOverviewModel.Day" />
    </div>
    <div class="flex flex-col max-w-full">
        @if (FillBoxesOverviewModel.DisplayTypeIndex == 0)
        {
            @if (FillBoxesOverviewModel.FoodOverview.Any())
            {
                <div class="flex flex-row max-w-full justify-between mb-2 border-black border-b-2">
                    <Tab @bind-Value="FillBoxesOverviewModel.FoodOverviewIndex" Items="@FillBoxesOverviewModel.FoodOverview.Select(f => f.RouteName).ToList()"/>
                </div>
                <div class="flex flex-row max-w-full justify-center ">
                    <table class="border border-black text-center bg-white">
                        <thead class="bg-gray-200 border-b border-black">
                            <tr>
                                <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Menus</th>
                                @foreach (string portionSize in FillBoxesOverviewModel.FoodOverview[0].BoxContentSummary[0].PortionSizeSummary.Select(p => p.Name))
                                {
                                    <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@portionSize</th>
                                }
                                <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BoxContentSummary boxContent in FillBoxesOverviewModel.FoodOverview[FillBoxesOverviewModel.FoodOverviewIndex].BoxContentSummary)
                            {
                                int total = 0;
                                <tr>
                                    <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@boxContent.Name</td>
                                    @foreach (PortionSizeSummary portionSize in boxContent.PortionSizeSummary)
                                    {
                                        <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@portionSize.Value</td>
                                        total += portionSize.Value;
                                    }
                                    <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@total</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="border border-black text-center bg-white ml-5">
                        <thead class="bg-gray-200 border-b border-black">
                            <tr>
                                <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Light diets</th>
                                <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">of which included</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LightDietSummary lightDiet in FillBoxesOverviewModel.FoodOverview[FillBoxesOverviewModel.FoodOverviewIndex].LightDietSummary)
                            {
                                <tr>
                                    <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@lightDiet.Name</td>
                                    <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@lightDiet.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
        else
        {
            @if (FillBoxesOverviewModel.RoutesFoodOverview.Any())
            {
                <div class="flex flex-row">
                    <div class="w-4/6 m-2">
                        @foreach (var route in FillBoxesOverviewModel.RoutesFoodOverview)
                        {
                            <div>
                                <div class="flex items-center mb-2 border-b-2" @onclick="@(() => FillBoxesOverviewModel.ToggleRoute(route))">
                                    <span class="text-gray-600 mr-2">
                                        @if (FillBoxesOverviewModel.ExpandedRoutes.Contains(route))
                                        {
                                            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                            </svg>
                                        }
                                        else
                                        {
                                            <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                            </svg>
                                        }
                                    </span>
                                    <h3 class="text-lg font-semibold select-none">@route.Name</h3>
                                </div>

                                @if (FillBoxesOverviewModel.ExpandedRoutes.Contains(route))
                                {
                                    <div class="flex flex-row flex-wrap w-full">
                                        @foreach (CustomersFood customer in route.CustomersFoods)
                                        {
                                            string backgroundColor = FillBoxesOverviewModel.DisplayCustomer != null && FillBoxesOverviewModel.DisplayCustomer == customer ? "bg-yellow" : FillBoxesOverviewModel.ClickedCustomer.Contains(customer) ? "bg-lightGreen" : "bg-lightRed";
                                            <CustomerStatusDisplay Text="@($"{customer.Position + 1}. {@customer.Name}")" BackgroundColor="@backgroundColor" OnClick="@(() => FillBoxesOverviewModel.SetDisplayCustomer(customer))"/>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="w-2/6 m-2">
                            @if (FillBoxesOverviewModel.DisplayCustomer != null)
                            {
                                <div>
                                    <h3 class="text-xl font-semibold text-gray-700">@(FillBoxesOverviewModel.DisplayCustomer.Position + 1). @FillBoxesOverviewModel.DisplayCustomer.Name</h3>

                                    <h5 class="text-lg font-semibold mt-4">Light diets:</h5>
                                    @foreach (string lightDiet in FillBoxesOverviewModel.DisplayCustomer.LightDiets)
                                    {
                                        <a class="text-lg font-semibold m-4 select-none">@lightDiet</a>
                                    }

                                    <h5 class="text-lg font-semibold mt-4">Box Contents:</h5>
                                    @foreach (CustomersBoxContent boxContent in FillBoxesOverviewModel.DisplayCustomer.BoxContents)
                                    {
                                        <h3 class="text-lg font-semibold ml-4 mt-2 select-none">@boxContent.BoxName: @boxContent.PortionSize</h3>
                                    }
                                </div>
                            }
                    </div>
                </div>
            }
        }
    </div>
</div>
