@page "/fillBoxes"
@using Website.Client.Components
@using Website.Client.Models
@using Website.Client.Styles

<div class="max-w-full">
    <div class="flex flex-row max-w-full justify-between mb-2 border-black border-b-2">
        <Tab @bind-Value="FillBoxes.DisplayTypeIndex" Items="@TypeList" SelectionChanged="@(() => FillBoxes.OnDayMonthYearSelected())" />
        <FormDayPicker Label="Date picker" OnDayMonthYearSelected="@(() => FillBoxes.OnDayMonthYearSelected())" @bind-Year="@FillBoxes.Year" @bind-Month="@FillBoxes.Month" @bind-Day="@FillBoxes.Day" />
    </div>
    <div class="flex flex-col max-w-full">
        @if (FillBoxes.DisplayTypeIndex == 0 && FillBoxes.FoodOverview.Any())
        {
            <div class="flex flex-row max-w-full justify-between mb-2 border-black border-b-2">
                <Tab @bind-Value="FillBoxes.FoodOverviewIndex" Items="@FillBoxes.FoodOverview.Select(f => f.RouteName).ToList()"/>
            </div>
            <div class="flex flex-row max-w-full justify-center ">
                <table class="min-w-full border border-black text-center bg-white">
                    <thead class="bg-gray-200 border-b border-black">
                        <tr>
                            <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Menus</th>
                            @foreach (string portionSize in FillBoxes.FoodOverview[0].BoxContents[0].PortionSizes.Select(p => p.Name))
                            {
                                <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@portionSize</th>
                            }
                            <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BoxContent boxContent in FillBoxes.FoodOverview[FillBoxes.FoodOverviewIndex].BoxContents)
                        {
                            int total = 0;
                            <tr>
                                <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@boxContent.Name</td>
                                @foreach (PortionSize portionSize in boxContent.PortionSizes)
                                {
                                    <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@portionSize.Value</td>
                                    total += portionSize.Value;
                                }
                                <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@total</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="min-w-full border border-black text-center bg-white ml-5">
                    <thead class="bg-gray-200 border-b border-black">
                        <tr>
                            <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">Light diets</th>
                            <th class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">of which included</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (LightDiet lightDiet in FillBoxes.FoodOverview[FillBoxes.FoodOverviewIndex].LightDiets)
                        {
                            <tr>
                                <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@lightDiet.Name</td>
                                <td class="@($"{Scaling.GetTextScaling()} border border-black px-4 py-2")">@lightDiet.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @* Second tab *@
    </div>
</div>
