@using Website.Client.Validations;
@using Website.Client.Styles;

<div class="flex flex-col">
    <label for="@Id" class="@Scaling.GetTextScaling() text-center select-none">@Label</label>
    <InputCheckbox id="@Id" class="@($"{Scaling.GetTextScaling()} {InputStyles.GetInpuptDefaultStyle()}")"
                   @bind-Value="Value" @oninput="OnValueChanged" />
</div>
