@using Website.Client.Components.Base;
@using Website.Client.Validations;
@using Website.Client.Styles;
@using Website.Client.Enums;

<div class="flex justify-between">
    @if (!Label.Equals(string.Empty))
    {
        <label for="@Id" class="@Scaling.GetTextScaling() select-none">@Label</label>
    }
    <DatePicker Id="@Id"
                Year="@Year"
                YearChanged="@YearChanged"
                YearExpression="@YearExpression"
                Month="@Month"
                MonthChanged="@MonthChanged"
                MonthExpression="@MonthExpression"
                OnMonthYearSelected="@OnMonthYearSelected"/>
</div>