@using Website.Client.Components.Base;
@using Website.Client.Validations;
@using Website.Client.Styles;
@using Website.Client.Enums;

<div class="@($"{Class} flex justify-between items-center")">
    @if (!Label.Equals(string.Empty))
    {
        <label for="@Id" class="@Scaling.GetTextScaling() select-none mr-2">@Label</label>
    }
    <MonthPicker Id="@Id"
                Year="@Year"
                YearChanged="@YearChanged"
                YearExpression="@YearExpression"
                Month="@Month"
                MonthChanged="@MonthChanged"
                MonthExpression="@MonthExpression"
                OnMonthYearSelected="@OnMonthYearSelected"/>
</div>