@using Website.Client.Components.Base;
@using Website.Client.Util;
@using Website.Client.Styles;

<div class="@Class">
    @if (!Label.Equals(string.Empty))
    {
        <label for="@Id" class="@Scaling.GetTextScaling() select-none">@Label</label>
        <br />
    }
    <TextInput id="@Id"
               class="@($"{Scaling.GetTextScaling()} {ValidStateCss()} {InputStyles.GetInpuptDefaultStyle()}")"
               Value="@Value"
               ValueChanged="@ValueChanged"
               ValueExpression="@ValueExpression"
               ValidationFunction="ValidationFunction" />
    <ValidationMessage class="@($"{Scaling.GetTextScaling()} text-red w-full")" For="@For" />
</div>