@using Website.Client.Styles;

@if (IsVisible)
{
    <div class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-40"></div>

    <div class="fixed inset-0 flex items-center justify-center z-50">
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md mx-auto">
            <div class="px-6 py-4 border-b border-gray-200 flex justify-between items-center">
                <h3 class="text-lg font-semibold text-black">@Titel</h3>
            </div>
            <div class="p-6">
                <p class="@($"{Scaling.GetTextScaling()} text-black")">@Message</p>
            </div>
            <div class="px-6 py-4 border-t border-gray-200 flex justify-end space-x-2">
                <button @onclick="() => HandleClose(false)" class="@($"{Scaling.GetTextScaling()} bg-lightRed text-white px-4 py-2 rounded hover:bg-red focus:outline-none")">
                    @FalseButton
                </button>
                <button @onclick="() => HandleClose(true)" class="@($"{Scaling.GetTextScaling()} bg-lightGreen text-white px-4 py-2 rounded hover:bg-green focus:outline-none")">
                    @TrueButton
                </button>
            </div>
        </div>
    </div>
}