@using Website.Client.Components;
@using Website.Client.Util;

<nav class="bg-white sticky w-full z-20 top-0 start-0 border-b border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
           <span class="text-2xl self-center select-none text-orange-500 font-semibold whitespace-nowrap">NoPersa</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse select-none">
            <button type="button" class="flex items-center">
                <span class="text-xl">User</span>
                <span class="text-xl mx-2 bg-sky-600 rounded-full md:me-0 focus:ring-5 w-7 focus:ring-gray-300">U</span>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <Dropdown Title="Verwaltung"
                      Items="@(new string[] {"Artikelpreise", "Kunde erstellen", "Kunde suchen"}.AsReadOnly())"
                      ItemsHref="@(new string[] {"", "customer", ""}.AsReadOnly())"/>

            <Dropdown Title="Gastronomie"
                      Items="@(new string[] {"Abüllen", "Essenswünsche", "Speiseplan"}.AsReadOnly())"
                      ItemsHref="@(new string[] {"", "", ""}.AsReadOnly())"/>

            <Dropdown Title="Lieferung"
                      Items="@(new string[] {"Ausliefern", "Boxstatus", "Lieferstatus", "Routen bearbeiten", "Reihenfolge bearbeiten"}.AsReadOnly())"
                      ItemsHref="@(new string[] {"", "", "", "", ""}.AsReadOnly())"/>

            <Dropdown Title="Import/Export"
                      Items="@(new string[] {"Fahrpläne exportieren", "Kunden exportieren", "Kunde importieren", "Rechnungen exportieren"}.AsReadOnly())"
                      ItemsHref="@(new string[] {"", "", "", "", ""}.AsReadOnly())"/>

            <Dropdown Title="Admin Einstellungen"
                      Items="@(new string[] {"Globale Einstellungen", "Rechte verwalten", "Benutzer verwalten"}.AsReadOnly())"
                      ItemsHref="@(new string[] {"", "", ""}.AsReadOnly())"/>
        </div>
    </div>
</nav>
